<header class="navbar">
  <nav class="navbar-g">
      <div class="navbar-g-links max-[1000px]:!hidden ">
          <span class="text-3xl font-bold cursor-pointer" routerLink="/">
            BooksLeaks
          </span>
      </div>
      <ul class="navbar-g-list max-[1000px]:w-full text-[#ffffff]">
          <li class="navbar-g-list-item" >
            <a routerLink="/register">
              Register
            </a>
          </li>
          |
          <li class="navbar-g-list-item">
            <a routerLink="/login">
              Login
            </a>
          </li>
   
      </ul>
  </nav>
</header>