<header class="navbar">
  <nav class="navbar-g">
      <div class="navbar-g-links max-[1000px]:!hidden ">
          <span class="text-3xl font-bold cursor-pointer" routerLink="/">
            BooksLeaks
          </span>
      </div>
      <ul class="navbar-g-list max-[1000px]:w-full text-[#ffffff]">
          <li class="navbar-g-list-item" >
            <a routerLink="/register">
              Register
            </a>
          </li>
          |
          <li class="navbar-g-list-item">
            <a routerLink="/login">
              Login
            </a>
          </li>

      </ul>
  </nav>
</header>

<header class="mobile-header">
  <picture class="ml-5 mt-6 mb-4 cursor-pointer" routerLink="/">
    <img src="../../../../assets/icons/back-icon.webp" loading="lazy" alt="Go back icon" aria-label="Press to exit the page" tabindex="0">
  </picture>
</header>
