<div class="modal">
  <admin-card titleCard="Book Front Page">
    @if( !sending ){
    <div class="close">
      <svg
        (click)="closeModal.emit(false)"
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
      >
        <path
          d="M23 2.31643L20.6836 0L11.5 9.18357L2.31643 0L0 2.31643L9.18357 11.5L0 20.6836L2.31643 23L11.5 13.8164L20.6836 23L23 20.6836L13.8164 11.5L23 2.31643Z"
          fill="black"
        />
      </svg>
    </div>
    <div class="w-full flex justify-between gap-x-7 mt-4 mb-2">
      @if( frontPage() ){
      <div
        class="image front-page"
        [class.active]="frontPage().id !== 'front-nothig'"
        (click)="deleteFiles(frontPage(), true)"
      >
        <img
          src="{{ frontPage().url }}"
          [class.blur-sm]="frontPage().id === 'front-nothig'"
          alt="Image for front page book."
        />
      </div>
      }

      <label
        class="custum-file-upload"
        for="front-book-file"
        [ngClass]="{
          '!border-red-500': frontPageError,
          'disabled': frontPage().id !== 'front-nothig'
        }"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              id="SVGRepo_tracerCarrier"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                [ngClass]="{ '!fill-red-500': frontPageError }"
                fill=""
                d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </g>
          </svg>
        </div>
        <div class="text">
          <span [ngClass]="{ '!text-red-500': frontPageError }"
            >Click to upload image</span
          >
        </div>
        <input
          type="file"
          (change)="onFileSelected($event, true)"
          accept=".png,.jpg,.webp,.jpeg"
          id="front-book-file"
          [disabled]="frontPage().id !== 'front-nothig'"
        />

        <div class="tooltiptext" [class.hidden]="!frontPageError">
          - Only images are accepted. {{ "\n" }}
          - The maximum file size is 2MB.
        </div>
      </label>
    </div>

    <div class="upload-img">
      <h3>Book Gallery</h3>

      <div class="gallery">
        @for(image of images(); track image.id){
        <div class="image active" (click)="deleteFiles(image, false)">
          <img src="{{ image.url }}" alt="Image for book" />
        </div>
        } @for(url of loadImgs; track $index){
        <div class="image">
          <img
            src="../../../../../assets/imgs/book-placeholder.webp"
            class="blur-sm"
            alt="Place holder img for book"
          />
        </div>
        }
      </div>

      <label
        class="custum-file-upload !w-[260px] !h-[125px]"
        for="gallery-file"
        name="gallery-file"
        [ngClass]="{
          '!border-red-500': galleryError,
          disabled: images.length === 5
        }"
      >
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="!h-[50px]"
            fill=""
            viewBox="0 0 24 24"
          >
            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              id="SVGRepo_tracerCarrier"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                [ngClass]="{ '!fill-red-500': galleryError }"
                fill=""
                d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </g>
          </svg>
        </div>
        <div class="text">
          <span [ngClass]="{ '!text-red-500': galleryError }"
            >Click to upload image</span
          >
        </div>
        <input
          type="file"
          (change)="onFileSelected($event, false)"
          accept=".png,.jpg,.webp,.jpeg"
          [disabled]="images.length === 5"
          id="gallery-file"
        />

        <div class="tooltiptext" [class.hidden]="!galleryError">
          - Only images are accepted. {{ "\n" }}
          - The maximum file size is 2MB.
        </div>
      </label>
    </div>

    <app-button
      type="button"
      class="w-full flex justify-center items-center cursor-default mt-4"
      className="min-w-[175px] px-11"
    >
      Save Images
    </app-button>
    } @else {
    <div class="w-full flex justify-center items-center p-20">
      <dot-spinner class="m-auto"></dot-spinner>
    </div>
    }
  </admin-card>
</div>
