.arribal-container{
    margin-inline: 1rem;
    padding-block: 1rem;
    margin-bottom: 5%;
}

@media only screen and (min-width: 554px) {
    .arribal-container .book-list{
        margin-block-start: 2.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        justify-content: center;
        column-gap: 2rem;
        row-gap: 2.5rem;
        justify-content: center;
        place-content: center;
        justify-items: center;
    }
}