<h2 class="title mx-[7.5dvw] mb-[48px]"> Trending <strong class="text-[#33B672] font-medium">Books</strong></h2>
<div class="container">

  <div class="image-list" #bookList (scroll)="onScroll()">
    @for (book of booksWithOnCart; track book.id) {
      <card-book [book]="book" [className]="classOfCard"></card-book>
      <app-card-book-horizontal  [book]="book" [onCart]="book.onCart" [className]="classOfCard" style="width: 90vw; margin: 0 5vw;"></app-card-book-horizontal>
  } @empty {
      <span>No hay libros</span>
  }
  </div>
  <button (click)="moveCarrusel('left')" id="bookList" class="absolute p-0 opacity-50 rounded-[25%] r top-[40%] left-4 z-50 justify-center items-center bg-[#BFBFBF] hover:bg-[#888888]">
    <svg xmlns="http://www.w3.org/2000/svg" class="" width="50" height="50" viewBox="0 0 80 96" fill="none">
      <path d="M52.3504 29.64L47.6504 24L27.6504 48L47.6504 72L52.3504 66.36L37.0837 48L52.3504 29.64Z" fill="#ffffff"/>
    </svg>
  </button>
  <button (click)="moveCarrusel('right')" id="bookListr" class="absolute opacity-50 rounded-[25%] r top-[40%] right-4 z-50 justify-center items-center bg-[#BFBFBF] hover:bg-[#888888]">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 80 96" fill="none">
      <path d="M32.3504 23.9507L27.6504 29.5791L42.9171 47.9013L27.6504 66.2235L32.3504 71.8519L52.3504 47.9013L32.3504 23.9507Z" fill="#ffffff"/>
    </svg>
  </button>
</div>
<app-button class="mb-6 flex cursor-default" className="mx-auto min-w-[120px]  w-full max-w-[140px] min-[905px]:max-w-[12dvw] mt-[15px]">
  <a routerLink="shop" [queryParams]="{ search: 'All', sort: 'price' }">See all</a>
</app-button>
