.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
button.default-button {
  width: 100%;
  height: 100%;
  height: 50px;
  max-width: 50px;

  border-radius: 50%;
  background-color: oklch(0.68 0.16 155.51);
  margin-bottom: 6px;
  margin-inline: auto;
  transition-property: width, border-radius, max-width;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;

  cursor: pointer;
  overflow: hidden;
  position: relative;
}

button.default-button::after {
  content: "+";
  opacity: 1;
  position: absolute;
  user-select: none;
  font-size: 3rem;
  line-height: 1rem;

  transition-property: visibility, opacity;
  transition-duration: 0.15s;
}

button.default-button::before {
  content: "See all";
  position: absolute;

  opacity: 0;

  user-select: none;
  font-size: 0rem;
  font-weight: 500;

  transition-property: opacity, font-size, animation;
  transition-timing-function: linear;
  transition-duration: 0.25s;
}

button.default-button:is(:hover, :focus, :active)::after {
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.25s;
}

button.default-button:is(:hover, :focus, :active)::before {
  font-size: 1.25rem;
  letter-spacing: 3%;

  opacity: 1;
  animation-name: slide-bottom;
  animation-duration: 0.2s;
  animation-delay: .15s;
  animation-timing-function: ease;
  animation-play-state: running;
  animation-fill-mode: both;
  transition-duration: 0.25s;
}

button.default-button:is(:hover, :focus, :active) {
  transition-duration: .25s;
  border-radius: 0.9375rem;

  width: 180px;
  max-width: 180px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
}

card-book {
  display: none;
}

app-card-book-horizontal {
  display: block;
}

@media only screen and (min-width: 705px) {
  card-book {
    display: block;
  }

  app-card-book-horizontal {
    display: none;
  }
}

@keyframes top-to-center {
  from {
    translate: 0 -25px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
