  .container {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .image-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
  
    .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  }