.modal admin-card {
  display: flex;
  height: fit-content;
  width: fit-content;
  position: absolute;
  inset: 0;
  transform: translateY(5%) translateX(50%);
  z-index: 200;
  overflow-y: scroll;
}
.modal ::ng-deep .admin-card {
  position: relative;
  margin: 0px;
  width: 650px;
  padding: 3rem;
}

.road {
  position: absolute;

  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: #fffcfc;

  outline: 25px solid #33b672;
  top: -5%;
  right: -5%;
}
