<aside>
  <div>
    <header>
      <a routerLink="/" class="logo"> Books Leaks </a>
    </header>

    <nav class="main-bar">
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Dashboard</span>
      </a>

      <a routerLink="/admin/books" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Books</span>
      </a>

      <a routerLink="/admin/authors" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Authors</span>
      </a>

      <a routerLink="/admin/sales" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Sales</span>
      </a>

      <a routerLink="/admin/users" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Users</span>
      </a>

      <a routerLink="/admin/analityc" routerLinkActive="active">
        <svg width="20" height="20" viewBox="0 0 27 24">
          <rect width="8.30814" height="7.3846" rx="1.4" />
          <rect y="11.0769" width="8.30814" height="7.3846" rx="1.4" />
          <rect x="12.4609" width="8.30814" height="7.3846" rx="1.4" />
          <rect
            x="12.4609"
            y="11.0769"
            width="14.5392"
            height="12.923"
            rx="1.4"
          />
        </svg>

        <span>Web Analityc</span>
      </a>
    </nav>
  </div>
</aside>
