.navbar-g {
    background-color: #F3F3F3;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.navbar-logo {
    margin-left: 2vw;
    margin-right: auto;
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
}

.navbar-g-links {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.navbar-g-links a {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    opacity: .85;
    font-weight: 500;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
    transition-property: color, opacity;
}

.navbar-g-links a:hover {
    color: #043f20;
    transition-timing-function: ease-in;
    opacity: 1;
}

.navbar-g-contact {
    margin-left: 5vw;
}

.navbar-g-list {
    margin-right: 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-g-list-item {
    color: #000000;
    padding: 15px;
}

.navbar-g-list-item a {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.navbar-g-list-item-person {
    width: 26px;
    height: 27px;
}

.navbar-g-list-item-sett {
    width: 23px;
    aspect-ratio: 1/1;
}