.navbar-g {
    background-color: #15AD67;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-g-links {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    color: #FFF;
}

.navbar-g-links a {
    margin-left: .5vw;
    margin-right: .5vw;
}
.navbar-g-contact {
    margin-left: 5vw;
}

.navbar-g-list {
    margin-right: 5vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar-g-list-item {
    color: white;
    padding: 15px;
}

.navbar-g-list-item a {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.navbar-g-list-item-person {
    width: 26px;
    height: 27px;
}

.navbar-g-list-item-sett {
    width: 23px;
    aspect-ratio: 1/1;
    
}

.navbar-w {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.navbar-logo {
    margin-left: 2vw;
    margin-right: auto;
    font-size: 32px;
    text-wrap: nowrap;
}

.search-bar {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.search-bar-icon {
    position: absolute;
    right: 20px;
    top: 23%;
}

.search-bar-icon path {
    fill: #000;
    fill-opacity: 0.20;
}

.search-bar-input {
    color: #ABABAB;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    min-height: 50px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding-inline-start: 15px;
    outline: none;
}

.search-bar-input:focus {
    border-radius: 50px;
    border: 2px solid #C88D65;
    background: #FFF;
}

.search-bar :is(input:focus) ~ .search-bar-icon path {
    fill: #C88D65;
    fill-opacity: 100%;
}

.navbar-w-list {
    margin-right: 1vw;
    display: flex;
    justify-content: right;
}

.navbar-w-list-item {
    color: black;
    padding: 15px;
}

.navbar-w-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.navbar-w-list-category-icon {
    color: #000;
}

.navbar-w-list-cart-icon {
    margin-right: .4rem;
}