.dashboard-cards-titles {
    font-size: 22px;
    margin-bottom: 2px;
}

.dashboard-cards-subtitles {
    font-size: 12px;
}

.dashboard-cards-container {
    min-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-cards-container-button {
    height: 45px;
    width: 60px;
    border-radius: 5px;
    background-color: rgba(51, 182, 114, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}