<div class="dropdown-nav">
  <ul class="dropdown-nav-list">
    <li class="dropdown-nav-list-item"><a routerLink="">History</a></li>
    <li class="dropdown-nav-list-item"><a routerLink="">Shop</a></li>
    <li class="dropdown-nav-list-item dropdown-nav-container">
      <a (click)="showDropdownList()"> Categories
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          class="dropdown-nav-list-category-icon">
          <path d="M7 10L12 15L17 10H7Z" fill="black" />
        </svg>
      </a>
      <div class="dropdown-nav-content" *ngIf="showDropdown">
        <!-- Contenido del dropdown -->
        <a id="categories" routerLink="">Self Help</a>
        <a id="categories" routerLink="">Comedy</a>
        <a id="categories" routerLink="">Fantasy</a>
        <a id="categories" routerLink="">Fiction</a>
        <a id="categories" routerLink="">History</a>
        <a id="categories" routerLink="">Horror</a>
        <a id="categories" routerLink="">Poetry</a>
        <a id="categories" routerLink="">Police</a>
        <a id="categories" routerLink="">Romance</a>
        <a id="categories" routerLink="">Drama</a>
      </div>
    </li>
  </ul>
</div>