:root {
    --txt-color-100: #585858;
    --txt-color-200: #49454F;
    --txt-color-300: #202124;
}

.forgot-container {
    color: var(--txt-color-100);  
    width: 100%;
    height: 100%;
    background-color: #FFFBFE;
    display: flex;
    flex-direction: column;
}

.forgot-container h2.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-grow: 1;
    flex-shrink: 1;
}

.forgot-container .form{
    padding-inline: 3em;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: .2;
    justify-content: center;
    align-items: center;
}

.forgot-container .link{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
}
.input-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0%;
    position: relative;
    aspect-ratio: 7/1;
}

.input-group label.form-label {
    position: absolute;

    top: 1rem;
    margin-inline-start: 10px;
    padding-inline: 3px;
    pointer-events: none;

    background: #FFFBFE;
    color: var(--txt-color-200);

    direction: ltr;
    box-sizing: border-box;

    width: auto;
    z-index: 1;

    white-space: no-wrap;

    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    max-width: calc(100% - (2*8px));
    text-overflow: ellipsis;
    font-size: 1rem;
}

.input-group input.form-input {
    padding: 13px 15px;
    
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none;

    direction: ltr;
    text-align: left;
    color: var(--txt-color-300);
    margin: 1px 1px 0 1px;

    border: 2px solid rgb(200, 200, 200);
    border-radius: 1.25rem; 
    background: #FFFBFE;
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 51px;

    caret-color: #C88D65;
  }

  .input-group :is(input:focus, input:valid)~label{
    transform: scale(0.75) translateY(-39px);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background: #FFFBFE;
    color: #BA703C;
  }


  .input-group input.form-input:focus {
    border: 2px #C88D65 solid; 
  }

.default-button{
    border-radius: 6.25rem;
    padding-inline: 0.25rem;
    padding-block: 0.6rem;
    font-size: .875rem;
    font-weight: 500;
    transition: background .19s linear, box-shadow .17s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.default-button:hover{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.form-error input.form-input, .form-error input.form-input:focus  {
    border: 2px solid #D93025;
    caret-color: #D93025;
}
.form-error label.form-label, .form-error :is(input:focus, input:valid)~label {
  color: #ca3126;
}

@media only screen and (min-width: 705px)  {
    .forgot-container {
        width: 470px;
        height: 360px;
        border-radius: 1.875rem;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    }

    .forgot-container .form{
        align-items: center;
        align-content: center;
        flex-grow: 1;
    }

    .forgot-container h2.title {
        align-items: center;
        align-content: center;
    }
}