<nav-bar-forms></nav-bar-forms>
<div class="flex justify-center items-center w-full h-full my-12">
  <section class="forgot-container">
    <h2 class="title text-center border-b border-gray-200 py-4 mx-12">Forgot Password</h2>
    
    <form class="form" [formGroup]="forgotForm" (submit)="onSubmit()">
      <p class="text-center font-medium text-sm my-4">Enter your email address and we will send you a link to reset your password</p>
      <div class="input-group w-full min-h-[82px] max-h-[82px]">   
        <input type="text" id="email-forgot" formControlName="email" autocomplete="email" for="email-forgot" name="email-forgot" class="form-input" aria-disabled="false" aria-label="Email"autocapitalize="none" dir="ltr">
        <label for="email-forgot" class="form-label">Email</label>
        <error-message [showError]="forgotForm.get('email')?.touched && (forgotForm.get('email')?.hasError('pattern') || forgotForm.get('email')?.hasError('required'))"
      errorMessage="Write a valid email address" errorClass="text-red-500" />
      </div>

      <app-button class="flex w-full justify-center cursor-default" type="submit" className="w-full cursor-pointer min-w-[100px]  max-w-[300px] " [isDisable]="forgotForm.invalid" title="Button send">
        Send
      </app-button>
    </form>

    <hr class="mx-32 min-[705px]:mx-12 my-4 border-gray-200"/>
    <app-link class="link" path="/register" textLink="You do not have an account yet? Register!" className="py-3 text-center text-[#069150] hover:text-[#15AD67]"></app-link>
    </section>
</div>
<app-toast></app-toast>
