<section #arribal class="arribal-container mx-14 my-10">

  <h2 class="title mx-[7.5dvw]"><strong class="text-[#33B672] font-medium">New</strong> arribal</h2>


    <div class="book-list">
     @for(book of books | async; track book.ID){
          <card-book [book]="book"></card-book>
      } @empty {
        @for(book of ["1","2","3","4","5","6","7","8"]; track book){
          <card-book [book]="{ID: book, name:'Loading...', description: 'Loading...', author: 'loading...', price: 0, image: '../../../../assets/imgs/book-placeholder.webp'}"></card-book>
        }
      }

    </div>


</section>
