.arribal-container{

    display: flex;
    flex-direction: column;

    margin-inline: 3rem;

    padding-block: 1rem;
}


.arribal-container .book-list{
    margin-block-start: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    justify-content: center;
    place-content: center;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 2.5rem;
}

@media only screen and (min-width: 705px)  {
    .arribal-container .book-list{
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    }
}

@media only screen and (min-width: 1240px)  {
    .arribal-container .book-list{
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    }
}

@media only screen and (min-width: 1440px) {
    .arribal-container .book-list{
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }
}