.arribal-container{

    display: flex;
    flex-direction: column;

    margin-inline: 3rem;

    padding-block: 1rem;
}


.arribal-container .book-list{
    margin-block-start: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    justify-content: center;
    place-content: center;
    justify-items: start;
    column-gap: 2rem;
    row-gap: 2.5rem;
}