<div class="modal-overlay">
  <div class="modal">
    <div class="title">
      <h2>Formulario de Compra</h2>
    </div>
    <form (ngSubmit)="confirmar()">
      <h3>Retiro o Envío?</h3>
      <div class="envio">
        <label>
          <input type="radio" name="opcion" value="retiro" (change)="setRetiroLocal()"> 
          <p>Retiro en local</p>
        </label>
        <label>
          <input type="radio" name="opcion" value="envio" (change)="setEnvioDomicilio()"> 
          <p>Envío a domicilio</p>
        </label>
      </div>
      <div class="input-domicilio" *ngIf="mostrarInputDomicilio">
        <label>
          <p>Domicilio:</p>
          <input type="text" name="domicilio" [(ngModel)]="billRequest.address" required>
        </label>
      </div>
      <h3>Método de pago</h3>
      <div class="pago">
        <label>
          <input type="radio" name="metodoPago" value="efectivo" (change)="setEfectivo()"> 
          <p>Efectivo</p>
        </label>
        <label>
          <input type="radio" name="metodoPago" value="credito" (change)="setCredito()"> 
          <p>Crédito</p>
        </label>
        <label>
          <input type="radio" name="metodoPago" value="debito" (change)="setDebito()"> 
          <p>Débito</p>
        </label>
      </div>
      <p class="bottom-text" *ngIf="mostrarInputDomicilio && pago">
        Si usted eligió efectivo deberá pagar al delivery cuando reciba el pedido</p>
      <div class="form-group">
        <button type="submit" >Confirmar Compra</button>
      </div>
    </form>
  </div>
</div>