@media (max-width: 1024px) {
    .w-full{
        min-width: 90%;
    }
    .mb-8{
        margin-left: 2%;
        margin-right: 2%;
    }
    button{
        margin-left: 4%;
        margin-right: 4%;
    }
    .hidden, .sticky{
        display: none;
    }
    .sticky{
        margin-bottom:3%;
        width: 90%;
        margin-right: 0;
    }

    img{
        max-width: 35vw;
    }

    .card{
        border: none;
    }

    .amount{
        background-color: #0000000D;
        border-radius: 15px;
        margin: 2%;
        padding: 2%;
    }
}

@media (min-width: 1024.1px) {
    app-image-responsive{
        display: none;
    }
}

app-image-responsive{
    min-width: 100%;
}

section{
    padding-top: 0;
}

#paymentLink,
.max-w-ms{
    cursor: pointer;
}
