@media (max-width: 1024px) {
    .w-full{
        min-width: 90%;
    }
    .mb-8{
        margin-left: 2%;
        margin-right: 2%;
    }
    button{
        margin-left: 4%;
        margin-right: 4%;
    }
    .hidden, .sticky{
        display: none;
    }

    .card{
        border: none;
    }

    .amount{
        background-color: #0000000D;
        border-radius: 15px;
        margin: 2%;
        padding: 2%;
    }
}

@media (min-width: 1024.1px) {
    app-image-responsive{
        display: none;
    }
}

app-image-responsive{
    min-width: 100%;
}

section{
    padding-top: 0;
}

#paymentLink,
.max-w-ms{
    cursor: pointer;
}

.sticky img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 12px 6px rgba(0, 0, 0, 0.30);
}

button.up-button.take-out {
    border-width: 1px;
    border-color: #DFDFDF;
    border-style: double;
    cursor: default;
    background-color: #DFDFDF;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  button.up-button.take-out:hover, button.up-button.take-out:hover {
    box-shadow: none;
  }
  
  .up-button.activate svg {
    transition-property: scale;
    transition-duration: 400ms;
    transition-timing-function: ease;
  }
  
  .up-button.activate:hover svg{
    scale: 1.175;
  }

  .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
  }