.filters{
    width: 100%;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.filters span {
    color: #3F3F3F;
    font-weight: 500;
    line-height: normal;
    font-size: 0.95rem;
    margin-block-start: 1em;
    align-self: flex-start;
}

.filters li{
    width: 100%;
}

.filters li h3 {
    color: #242221;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.filters form input {
    border-radius: 0.9375rem;
    border: 1.5px solid rgba(0, 0, 0, 20%);
    padding: .9rem;
    background: #FFF;
    max-height: 1.75rem;
    outline: none;
    font-size: .85rem;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 15px;
    max-width: 70%;
    caret-color: #069150;
    transition: border-color 130ms ease-in;
}
.filters .filter-item .categories{
    row-gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-block-start: 0.25rem;
}

.filters .filter-item .categories label{
    color: #4C4C4C;
    opacity: .9;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.02813rem;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content ;

    transition-property: color, opacity;
    transition-timing-function: ease;
    transition-duration: 100ms;

    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.filters .filter-item .categories label.active{
    color: #303030;
    opacity: 1;
}
.filters .filter-item .categories label:hover {
    color: #303030;
    opacity: 1;
}

.filters .filter-item .languages label{
    display: flex;
    column-gap: 1rem;
    color: #4C4C4C;
    font-size: 0.9375rem;
    cursor: pointer;
}
.filters .filter-item .languages input{
    display: flex;
    min-width: auto;
}

.filters form input[type="number"]:focus {
    border-width: 1.5px;
    border-style: solid;
    border-color: #BA703C;
}
