<section class="favorite-container mx-[3.5rem]">

    <div class="favorite-book-wrapper relative">

        <div class="left-content">
            <picture class="w-full h-full max-w-[900px] max-h-[900px] relative  min-[1640px]:left-[-17%]">
                <img ngSrc="../../../../../../assets/imgs/learn-book-svg.webp" fill alt="Learn book img" aria-disabled="true">
            </picture>
        </div>

        <h2 class="title ms-[3.5rem] min-[710px]:ms-0">
            Find your <strong class="text-[#33B672] font-medium">favorite</strong> books <br/> here
        </h2>
        
        <div class="right-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad animi dolorem optio vitae neque eius quibusdam maxime nesciunt aliquid. Veritatis, porro? Ducimus.
            </p>
      
    
                <div class="number-detail-list">
                    <number-detail number="50"  class="w-full" [detail]="'Best\n Seller'"></number-detail>
                    <number-detail number="60"  class="w-full" [detail]="'For\n comming'"></number-detail>
                    <number-detail number="150" class="w-full" [detail]="'Totally\n products'"></number-detail>
                </div>
        </div>
        <app-button class="w-full flex" className="w-full max-w-[185px] text-[1.7dvw]">
            Explore
        </app-button>
    
    </div>
</section>