.default-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 0.9375rem;
    font-size: .875rem;
    font-weight: 500;
    transition: background .19s linear, box-shadow .17s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: #33B672;
    color: #FFFFFC;
    height: 2.55rem;
    outline: none;
  }

  .default-button:hover,  .default-button:focus {
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      background-color: #15AD67;
  }