<section>
  
    <div class="left-div">
      <img src="\assets\imgs\cel-book.png"  class="img-fluid">
    </div>
    <div class="right-div">
      <h2 class="title">Did you know us?</h2>
      <p>At Name, we are passionate about books and our mission is to help you find your next great read. We feature the most extensive and up-to-date catalogue of literary releases in the market. Subscribe to our newsletter and be the first to know about new releases, exclusive discounts, and much more.</p>
      <input type="text" placeholder="">
      <br>
      <button>Suscribe</button>
    </div>
  
</section>