@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFC;
    font-family: Roboto, arial, sans-serif;
    
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
    direction: ltr;
}

h2.title{
    font-size: 2rem;
    line-height: 2rem; 
    color: #242221;
    font-weight: 500;
}

/* SMALL */
@media only screen and (min-width: 705px)  {
    h2.title{
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

/* MEDIUM */
@media only screen and (min-width: 1240px) {
    h2.title{
        font-size: 2.8125rem;
        line-height: 3.25rem;
    }
}

/* LARGE */
@media only screen and (min-width: 1440px) {
    h2.title{
        font-size: 3.5625rem;
        line-height: 4rem; 
        letter-spacing: -0.01563rem;
    }
}