@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body{
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
}