@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffffff;
    font-family: Roboto, arial, sans-serif;

    width: 100%;
    height: auto;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
    direction: ltr;
}



h2.title{
    font-size: 1.875rem;
    line-height: 2rem;
    color: #242221;
    font-weight: 500;
}

/* SMALL */
@media only screen and (min-width: 705px)  {
    h2.title{
        font-size: 2rem;
        line-height: 2.75rem;
    }
}

/* MEDIUM */
@media only screen and (min-width: 1240px) {
    h2.title{
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

/* LARGE */
@media only screen and (min-width: 1440px) {
    h2.title{
        font-size: 3.625rem;
        line-height: 4rem;
        letter-spacing: -0.01563rem;
    }
}
app-button button a {
    border-radius: 0.9375rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

/* Estilo para quitar las flechas de incremento y decremento en input type="number" */
input[type=number], input[type=search] {
    -moz-appearance: textfield !important; /* Firefox */
    appearance: textfield !important; /* Resto de navegadores */
    -webkit-appearance: textfield !important;
}

  /* Estilo adicional para navegadores que admiten la propiedad "appearance" */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

    /* Para navegadores WebKit (Chrome, Safari) */
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
