<form class="login-form gap-10">

  <div class="w-[366px]">
    <div class="input-group w-full">   
      <input type="text" autocomplete="email" name="Email" class="form-input" aria-disabled="false" tabindex="0" autocapitalize="none" dir="ltr" required>
      <label for="email" class="form-label">Email</label>
    </div>

  </div>

  <div class="w-[366px]">
    <div class="input-group w-full">
      <input type="password" autocomplete="password" name="password" class="form-input" aria-disabled="false" tabindex="1" autocapitalize="none" dir="ltr" required>
      <label for="password" class="form-label">Password</label>
    </div>
    <a class="outline-none mt-1 inline-block text-left text-[.8rem] cursor-pointer text-[#069150] font-bold hover:text-[#15AD67]">
      ¿Forgot your password?
    </a>
  </div>
  
  <div class="w-full">
    <div class="flex w-full mb-6">
      <button class="default-button w-full text-[#FFFFFC] bg-[#069150] hover:bg-[#15AD67]">Log in</button>
    </div>
    <hr _ngcontent-ng-c2512418844="" class="mb-6 border-t">
    <a class="w-full mt-4 inline-block text-center text-[.8rem] cursor-pointer text-[#069150] font-bold hover:text-[#15AD67]">
      You still do not have an account?
    </a>
  </div>
</form>