<header>
    <app-navbar></app-navbar>
    <app-navbar-2></app-navbar-2>
</header>

<main class="shop-container">
    <section class="filter-container">
        <p class="search-term">
            Probando algun texto de prueba para ver cuanto texto puedo aguantar y el estilo
        </p>
        <span>10 found books</span>

        <ul role="list" class="filters">
            <li role="listitem" aria-label="Filter by price" class="filter-item"> 
                <div class="w-full flex justify-between items-center">
                    <h3>Prices</h3>
                    <span class="text-center">-</span>
                </div>
                <form class="flex items-center mt-3 gap-x-3">
                    <input type="number" id="min-price-filter" name="min-price-filter" class="max-w-[80px]" placeholder="Min" dir="ltr" aria-label="Enter the minimum price you want to filter with" autocomplete="off" autocapitalize="none" aria-disabled="false">
                    <input type="number" id="max-price-filter" name="max-price-filter" class="max-w-[100px]" placeholder="Max" dir="ltr" aria-label="Enter the maximum price you want to filter with" autocomplete="off" autocapitalize="none" aria-disabled="false">
                    <app-button type="submit" title="Apply price filter" class="flex justify-center" className="w-full min-w-[60px] max-h-[1.75rem] text-[0.945rem]">
                        Apply
                    </app-button>
                </form>
            </li>

            <li  role="listitem" aria-label="Filter by number of page" class="filter-item">
                <div class="w-full flex justify-between items-center">
                    <h3>Pages</h3>
                    <span class="text-center">-</span>
                </div>
                <form class="flex justify-between items-center mt-3 gap-x-3">
                    <input type="number" id="pages-filter" name="pages-filter" class="max-w-[80px]" placeholder="Min Number of pages" dir="ltr" aria-label="Enter the minimum number of pages" autocomplete="off" autocapitalize="none" aria-disabled="false">

                    <app-button type="submit" title="Apply price filter" class="flex justify-center" className="w-full min-w-[60px] max-h-[1.75rem] text-[0.945rem]">
                        Apply
                    </app-button>
                </form>
            </li>

            <li role="listitem" aria-label="Filter by Book Category/Genre" class="filter-item">
                <div class="w-full flex justify-between items-center">
                    <h3>Categories</h3>
                    <span class="text-center">-</span>
                </div>
                <ul class="categories" role="form">
                    <li role="button">
                        Horror
                    </li>
                    <li role="button">
                        Science fiction
                    </li>
                    <li role="button">
                        Fantasy
                    </li>
                    <li role="button">
                        Poetry
                    </li>
                    <li role="button">
                        Romance
                    </li>
                    <li role="button">
                        Self Help
                    </li>
                    <li role="button">
                        Policy
                    </li>
                    <li role="button">
                        History
                    </li>
                    <li role="button">
                        Comedy
                    </li>
                </ul>
            </li>
            <li role="listitem" aria-label="Filter by Languages" class="filter-item">
                <div class="w-full flex justify-between items-center">
                    <h3>Languages</h3>
                    <span class="text-center">-</span>
                </div>
                <form class="flex flex-col mt-3 gap-y-2 languages">
                    <label for="Spanish" name="Spanish" role="checkbox">
                        <input type="checkbox" id="Spanish" name="Spanish">
                        Spanish
                      </label>
                  
                      <label for="English" name="English" role="checkbox">
                        <input type="checkbox" id="English" name="English" >
                        English
                      </label>
                  
                      <label for="English" name="German" role="checkbox">
                        <input type="checkbox" id="German" name="German">
                        German
                      </label>
                      <label for="French" name="French" role="checkbox">
                        <input type="checkbox" id="French" name="French">
                        French
                      </label>
                      <label for="Portugues" name="Portugues" role="checkbox">
                        <input type="checkbox" id="Portugues" name="Portugues">
                        Portugues
                      </label>
                      <label for="Italian" name="Italian" role="checkbox">
                        <input type="checkbox" id="Italian" name="Italian">
                        Italian
                      </label>
                </form>
            </li>

            <li role="listitem" aria-label="Filter by include out of stock" class="filter-item">
                <div class="w-full flex justify-between items-center">
                    <h3>Availability</h3>
                    <span class="text-center">-</span>
                </div>
                <form class="flex flex-col mt-3 gap-y-2 languages">
                    <label for="include-out-of-stock" name="include-out-of-stock" role="checkbox">
                        <input type="checkbox" id="include-out-of-stock" name="include-out-of-stock">
                        Include out of stock
                      </label>
                </form>
            </li>
        </ul>
    </section>
    <section class="result-container">
        <div class="result-title">
            <h2>Results</h2>

            <div>
                <span>Sort By</span>
            </div>
        </div>

        <div class="result-list">
            @for(book of getBooks(); track book.ID){
                @defer(on viewport){
                    <card-book [book]="book" [ngClass]="{'last-column': $index === 2 || $index === 5 || $index === 8 || $index === 11, 'mid-column': $index === 1 || $index === 4 || $index === 7 || $index === 10}"></card-book>
                } @placeholder {
                    <div></div>
                }
            } @empty {
                <div>no cargo F</div>
            }
        </div>

  
    </section>
</main>

<app-footer></app-footer>