<header>
  <app-navbar></app-navbar>
  <app-navbar-2></app-navbar-2>
</header>

<main class="shop-container">
  <section class="filter-container">
    <p class="search-term">
      {{ searchTerm }}
    </p>
    <span>10 found books</span>

    <shop-filters
      class="w-full flex"
      (filterProps)="updateList($event)"
      [initialGenreFilter]="initGenre"
    ></shop-filters>
  </section>
  <section class="result-container">
    <div class="result-header">
      <h2 class="title">Results</h2>

      <div class="select">
        <div class="flex justify-around">
          <p>Sort by</p>
          <sort-box
            [options]="SORT"
            [selectedOption]="SORT[0]"
            (sort)="applySort($event)"
          ></sort-box>
        </div>
      </div>
    </div>


      @if ( !this.loading() ){
        <div class="result-list">
          @for(book of getBooks(); track book.ID){
            <card-book [book]="book"></card-book>
            <app-card-book-horizontal [book]="book"> </app-card-book-horizontal>
          }
        </div>
      } @else {
        <div class="spinner grid grid-cols-3 w-full gap-x-8 justify-center ">
          <dot-spinner></dot-spinner>
        </div>

      }


  </section>
</main>

<app-footer></app-footer>
