<div class="mt-8 lg:flex">
  <div class="ms-[10vw] me-[10vw] lg:me-[0] min-w-[50%] max-w-[80%] lg:ms-[10vw] lg:min-w-[20vw] lg:max-w-[38vw] z-10 " >
      <h1 class="leading-[3rem] mb-2 text-5xl font-medium">A <span class="text-[#15AD67]">collection</span> of books your most beloved</h1>
      <p class="mb-1 text-sm">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
        repudiandae earum ducimus illum molestias
      </p>
      <app-button routerLink="/catalog" class="mb-6 w-full" className="min-w-[120px]  max-w-[140px] min-[905px]:max-w-full mt-[15px]">nuevo boton</app-button>
    </div>
    <div class="mt-5 me-[10vw] ms-[10vw] lg:ms-[4vw] w-[80vw] lg:w-[38vw] relative h-[25vw]">
      <img class="absolute w-[33%] left-[45%] top-[-40%] lg:left-[0%] lg:top-[0%] lg:w-[60%] " src="../../.././../../assets/booksImages/book cover.png" alt="libro" />
      <img class="absolute w-[28%] right-[0%] top-[0%] lg:top-[10%] lg:w-[50%]"  src="../../.././../../assets/booksImages/book mockup.png" alt="libro" />
    </div>
</div>

