<div class="mt-8 lg:flex">
  <div class="ms-[10vw] min-w-[50%] max-w-[80%] lg:ms-[10vw] lg:min-w-[20vw] lg:max-w-[38vw] z-10 " >
      <h1 class="mb-2 text-5xl font-medium">A <span class="text-[#15AD67]">collection</span> of books your most beloved</h1>
      <p class="mb-1 text-sm">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
        repudiandae earum ducimus illum molestias
      </p>
      <button routerLink="/catalog" class="mb-4 text-md px-6 py-2 mt-3 rounded-md bg-[#15AD67] hover:bg-[#069150] text-[#FFFFFF]">show now</button>.
    </div>
    <div class="me-[10vw] ms-[10vw] lg:ms-[4vw] w-[80vw] lg:w-[38vw] relative h-[70vh]">
      <img class="absolute left-[0%] top-[0%] lg:w-[60%] " src="../../.././../../assets/booksImages/book cover.png" alt="libro" />
      <img class="absolute right-[0%] top-[40%] lg:top-[10%] lg:w-[50%]"  src="../../.././../../assets/booksImages/book mockup.png" alt="libro" />
    </div>
</div>
