.card-book {
    max-width: 600px;
    min-width: 200px;
    aspect-ratio: 6/2;
    display: flex;
    position: relative;
    z-index: 10;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5vw;
    overflow:hidden;
}

.card-book .img-wrapper:hover .img-container {
    transform: scale(1.1);
    opacity: 1;
}

.card-book .img-wrapper{
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    background: linear-gradient(90deg, #EEE 0%, #DFDFDF 50%, #FFF 100%);    ;
    width: 45%;
    aspect-ratio: 2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.card-book .img-wrapper .img-container {
    overflow: hidden;
    position: relative;
    width: 155px;
    aspect-ratio: 1/1;
    opacity: .9;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-property: opacity, transform;
    border-radius: .6rem;
}

.card-book .img-wrapper .img-container img{
    object-fit: scale-down;
    padding: 10%;
}

.card-book .content-info {
    margin: auto 0px;
    width: 90%;
    font-weight: 500;
    color: #242221;

    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    cursor: pointer;
    transition-duration: 100ms;
    transition-timing-function: ease;
    transition-property: color;
}

.card-book .content-info h2 {
    font-weight: 500;
    color: #242221;

    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    cursor: pointer;
    transition-duration: 100ms;
    transition-timing-function: ease;
    transition-property: color;
}

.card-book .content-info h2:hover {
    color: #069150;
}

button.default-button.up-button.activate {
  transition: none;
  background: rgb(51 204 125 / 40%);
  height: 2.15rem;
  width: min-content;
  padding-block: 0.5rem;
  color: oklch(0.68 0.16 155.51);
  background-blend-mode: difference;
  padding-inline: 0.85rem;
  scale: 1.01;

  transition-property: background, color, scale, box-shadow, outline,
    stroke-width;
  transition-duration: 0.17s;
  transition-timing-function: ease;
  box-shadow: none;
}

button.default-button.activate:hover,
button.default-button.take-out:hover {
  box-shadow: none;
}

button.default-button.activate:hover {
  background: rgb(51 204 125 / 40%);
}

button.default-button.take-out:hover {
  background: rgb(39 191 113);
}

button.default-button.take-out {
  transition: none;

  padding-inline: 0.85rem;
  padding-block: 0.5rem;
  width: min-content;
  height: 2.15rem;
  cursor: pointer;
  color: #ffffff;

  outline: none;
  background: rgb(39 191 113);

  transition-property: background, color, scale, box-shadow, outline,
    stroke-width;
  transition-duration: 0.17s;
  transition-timing-function: ease;
  box-shadow: none;
}

button.default-button .svg-celebrate-icon {
  position: absolute;
  display: none;
  stroke: #ffffff;
  fill: #ffffff;
  stroke-width: 2.5px;
}

button.default-button.take-out .svg-celebrate-icon {
  animation: svg-celebrate 0.4s;
  animation-fill-mode: forwards;
  display: block;
}

button.up-button.take-out .cart {
  animation: icon-up-scale 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

button.up-button.activate .cart {
  animation: icon-down-scale 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

button.default-button.activate:hover .cart {
  scale: 1.1;
}
button.default-button.take-out:hover .cart {
  scale: 0.95;
}

button.up-button.activate .cart path {
  stroke-width: 40px;
}

button.up-button.take-out .cart path {
  stroke-width: 43.5px;
}

@keyframes icon-up-scale {
  from {
    scale: 0.25;
  }
  25% {
    scale: 1.2;
  }
  50% {
    scale: 1.02;
  }
}

@keyframes icon-down-scale {
  from {
    scale: 1.22;
  }
  25% {
    scale: 0.97;
  }
  50% {
    scale: 1.01;
  }
}

@keyframes svg-celebrate {
  0% {
    scale: 0;
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    scale: .55;
    opacity: 0;
    display: none;
  }
}
