section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content:space-around;
    font-weight: 700;
}
.nav-1{
    color:#242221 ;
}
.nav-2{
    color: #069150;
}

.tables{
    margin: 3%;
    justify-content:space-evenly;
    display: flex;
}

.table-container h2{
    font-size: 3vh;
    color: #242221;
}
.table-container h2{
    font-size: 3vh;
    color: #242221;
    max-width: 24vw;
}

.table-data-1 {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
    overflow: hidden;
    margin: 20px; /* Ajusta el margen según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra si lo deseas */
}

.table-data-2 {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
    overflow: hidden;
    margin: 20px; /* Ajusta el margen según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra si lo deseas */
}

td{
    margin-left: 1%;
    width: 10vw;
    height: 5vh;
    color: #313131;
    font-weight: 525;
}

.type-1{
    background-color:#EEEEEE ;
}
.type-2{
    background-color: #EEEEEE73;
}
